---
---
/* Import the GitHub Pages styles */
@import "{{ site.theme }}";

/* Import the corner ribbon styles */
@import "corner-ribbon.css";

/* Custom styles */
p {
    text-align: justify;
}
.site-logo {
    max-width: 34rem;
    margin: 0 auto;
    padding: 2rem 1rem;
}
.site-logo img {
    max-width: 100%;
}
.site-logo h2 {
    margin-bottom: 0;
    text-align: center;
}
@media screen and (min-width: 42em) {
    .desktop-only { display: block; }
    .mobile-only { display: none; }
    .page-header {
        padding: 1rem 4rem;
    }
}
@media screen and (max-width: 42em) {
    .desktop-only { display: none; }
    .mobile-only { display: block; }
    .page-header {
        padding: 1rem;
    }
}
.page-header .btn {
    margin-bottom: 0;
}

.site-footer-credits {
    color: #aaa;
    font-size: 0.85rem;
}
.site-footer-credits a {
    color: #a0bbd6;
}

#pipelines_loading {
    padding: 0.75rem 1rem;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    text-align: center;
}
#pipelines_content > div {
    display: none; /* Initially hidden whilst loading */
    margin: 2rem 0;
}
.nf-core-pipelines-list {
    margin: 0 0 3rem;
    padding: 0;
    -webkit-column-width: 25rem;
    -moz-column-width: 25rem;
    -o-column-width: 25rem;
    -ms-column-width: 25rem;
    column-width: 25rem;
}
.nf-core-pipelines-list li {
    position: relative;
    display: inline-block;
    width: 25rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    margin: 0 1rem 2rem 0;
    padding: 0.8rem 1rem;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}
#nf-core-repos-prod li {
    background-color: rgba(179, 228, 201, 0.08);
}
#nf-core-repos-dev li, #archived_pipelines li {
    background-color: rgba(236, 220, 195, 0.09);
}
.nf-core-pipelines-list .repo_name {
    margin-bottom: 0;
}
.nf-core-pipelines-list .repo_description {
    margin: 5px 0;
    font-size: 0.9rem;
    text-align: left;
}
.nf-core-pipelines-list .pipeline-badge {
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    background-color: #ededed;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    padding: 1px 3px;
    box-shadow: 0 1px 3px #ccc;
}
.latest-release::before {
    content: 'Version: ';
    font-weight: normal;
}
.nf-core-pipelines-list .latest-release {
    background-color: #B5DFBE;
    border-color: #58AD6B;
    font-weight: bold;
}
.nf-core-pipelines-list .archived-lastpush span {
    font-weight: bold;
}
.nf-core-pipelines-list .stargazers_count {
    position: absolute;
    display: block;
    top: 1rem;
    right: 1rem;
    font-size: 0.8rem;
    color: #999;
    text-decoration: none;
}



#markdown-toc::before {
    content: 'Table of Contents';
    color: #159957;
    font-size: 2em;
    margin-left: -40px;
}
#markdown-toc > li:first-child {
    margin-top: 1rem;
}
#markdown-toc li li {
    font-size: 0.9rem;
}

@media only screen and (min-width: 900px) {
    #markdown-toc::before {
        font-size: 1.6em;
        margin-left: 0;
    }
    #markdown-toc {
        position: absolute;
        left: 2rem;
        top: 26rem;
        width: 25rem;
        padding-left: 0;
        list-style-type: none;
    }
    #markdown-toc.fixed {
        position: fixed;
        top: 3rem;
    }
    .main-content.has-toc {
        max-width: none;
        padding: 2rem;
        margin: 0 2rem 0 17rem;
    }
}
