---
---
/* Import the GitHub Pages styles */
@import "{{ site.theme }}";

/* Import the corner ribbon styles */
@import "corner-ribbon.css";

/* Custom styles */
p {
    text-align: justify;
}
.site-logo {
    max-width: 34rem;
    margin: 0 auto;
    padding: 2rem 1rem;
}
.site-logo img {
    max-width: 100%;
}
.site-logo h2 {
    margin-bottom: 0;
    text-align: center;
}
@media screen and (min-width: 42em) {
    .desktop-only { display: block; }
    .mobile-only { display: none; }
    .page-header {
        padding: 1rem 4rem;
    }
}
@media screen and (max-width: 42em) {
    .desktop-only { display: none; }
    .mobile-only { display: block; }
    .page-header {
        padding: 1rem;
    }
}
.page-header .btn {
    margin-bottom: 0;
}

.site-footer-credits {
    color: #aaa;
    font-size: 0.85rem;
}
.site-footer-credits a {
    color: #a0bbd6;
}

#markdown-toc::before {
    content: 'Table of Contents';
    color: #159957;
    font-size: 2em;
    margin-left: -40px;
}
#markdown-toc > li:first-child {
    margin-top: 1rem;
}
#markdown-toc li li {
    font-size: 0.9rem;
}

@media only screen and (min-width: 900px) {
    #markdown-toc::before {
        font-size: 1.6em;
        margin-left: 0;
    }
    #markdown-toc {
        position: absolute;
        left: 1rem;
        top: 26rem;
        width: 18rem;
        padding-left: 0;
        list-style-type: none;
    }
    #markdown-toc.fixed {
        position: fixed;
        top: 3rem;
    }
    .main-content.has-toc {
        max-width: none;
        padding: 2rem;
        margin: 0 0 0 19rem;
    }
}
