---
---
/* Import the GitHub Pages styles */
@import "{{ site.theme }}";

/* Custom styles */
.site-logo {
    max-width: 34rem;
    margin: 0 auto;
    padding: 2rem 1rem;
}
.site-logo img {
    max-width: 100%;
}
.site-logo h2 {
    margin-bottom: 0;
    text-align: center;
}
@media screen and (min-width: 42em) {
    .page-header {
        padding: 1rem 4rem;
    }
}
@media screen and (max-width: 42em) {
    .page-header {
        padding: 1rem;
    }
}
.page-header .btn {
    margin-bottom: 0;
}

.site-footer-credits {
    color: #aaa;
    font-size: 0.85rem;
}
.site-footer-credits a {
    color: #a0bbd6;
}
